{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Total Poin
{% endblock %}

{% block content %}

    Terima kasih Anda telah menyelesaikan permainan pada Block 1.
    Poin yang Anda peroleh melalui distribusi acak seluruh ronde yang Anda mainkan pada Block 1 adalah sebanyak <b>{{player_payoff}}.</b>
    <br>
    <br>
    {% formfields %}
    <br>
    <br>
    Tekan tombol 'Lanjut' untuk menuju ruang pembayaran.
    <br>
    <br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>

{% endblock %}


